@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  #about{
    margin: 0 8rem;
  }
  .about-details-containers {
    padding: 2rem 1rem;
    flex-basis: calc(50% - 1rem);
  }
  #reflection {
    margin: 0 8rem;
  }
  .reflection-container {
    padding: 2rem 1rem; /* Adjust padding for smaller screens */
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  #reflection{
    margin: 0 5rem;
  } 

  .reflection-container {
    font-size: 1rem; 
    padding: 1.5rem; 
  }

  #reflection strong{
    font-size: 1.1rem;
  }

  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  #about{
    margin: 0 5rem;
  }

  .about-details-containers {
    padding: 1.5rem;
    flex-basis: calc(50% - 1rem);
  }
  .text-container{
    font-style: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  #reflection{
    margin: 0 2rem;
  }

  .reflection-container {
    font-size: 0.9rem; 
    padding: 1rem;
  }
  #reflection strong{
    font-size: 1rem;
  }
  #reflection p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  #reflection ul li {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  #about{
    margin: 0 2rem;
  }
  .about-details-container{
    padding: 1rem; 
  }
  .details-container {
    flex-basis: 100%; 
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  .text-container p{
    margin-bottom: 0.8rem;
  }
}
